### Vanna notebook example
To get started, you need to register an account on [this site](https://vanna.ai/). AFter that, it should prompt you to create a model and name it. Remember the name and also copy the api key, and you can run this notebook.

In [21]:
from vanna.ollama import Ollama
from vanna.vannadb import VannaDB_VectorStore

In [22]:
class MyVanna(VannaDB_VectorStore, Ollama):
    def __init__(self, config=None):
        MY_VANNA_MODEL = "" #replace with the name of the model you created in Vanna
        VannaDB_VectorStore.__init__(self, vanna_model=MY_VANNA_MODEL, vanna_api_key="", config=config) #replace vanna_api_key with your own key
        Ollama.__init__(self, config=config)

In [23]:
vn = MyVanna(config={'model': 'sqlcoder'})

In [25]:
vn.connect_to_postgres(host="",
    dbname="",
    user="",
    password="",
    port=)

In [26]:
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

In [28]:
plan = vn.get_training_plan_generic(df_information_schema)

In [ ]:
vn.train(
    question="What is the district with the shortest library distance?", 
    sql="SELECT MIN(closest_library_dist_km_median) FROM distances"
)

In [29]:
vn.train(plan=plan)

In [31]:
vn.ask(question="Which electoral_area has the highest closest_library_dist_km_median in table 'distances'?")

SQL Prompt: [{'role': 'system', 'content': 'You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Additional Context \n\nThe following columns are in the distances table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name   | column_name                                   | data_type        |\n|-----:|:----------------|:---------------|:-------------|:----------------------------------------------|:-----------------|\n|  874 | postgres        | dfg            | distances    | closest_library_dist_km_median                | double precision |\n|  875 | postgres        | dfg            | distances    | closest_school_dist_km_median                 | double precision |\n|  876 | postgres        | dfg            | distances    | closest_strongstart_school_dist_km_median     | double precision |\n|  877 | postgres        | dfg            | distances    | closest_adult_education_school_dist_km_median | double precision |\n|  878 | postgres        | dfg            | distances    | closest_postsecondary_school_dist_km_median   | double precision |\n| 1066 | postgres        | dfg            | distances    | closest_school_name_agg_list                  | text             |\n| 1067 | postgres        | dfg            | distances    | closest_adult_education_school_name_agg_list  | text             |\n| 1087 | postgres        | dfg            | distances    | electoral_area                                | text             |\n| 1088 | postgres        | dfg            | distances    | closest_library_name_agg_list                 | text             |\n| 1101 | postgres        | dfg            | distances    | closest_postsecondary_school_name_agg_list    | text             |\n| 1102 | postgres        | dfg            | distances    | closest_strongstart_school_name_agg_list      | text             |\n\nThe following columns are in the test_table table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name   | column_name   | data_type         |\n|-----:|:----------------|:---------------|:-------------|:--------------|:------------------|\n| 1095 | postgres        | dfg            | test_table   | column1       | character varying |\n\nThe following columns are in the pg_timezone_abbrevs table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name          | column_name   | data_type   |\n|-----:|:----------------|:---------------|:--------------------|:--------------|:------------|\n|  376 | postgres        | pg_catalog     | pg_timezone_abbrevs | utc_offset    | interval    |\n|  377 | postgres        | pg_catalog     | pg_timezone_abbrevs | is_dst        | boolean     |\n| 1051 | postgres        | pg_catalog     | pg_timezone_abbrevs | abbrev        | text        |\n\nThe following columns are in the pg_statio_all_tables table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name           | column_name     | data_type   |\n|-----:|:----------------|:---------------|:---------------------|:----------------|:------------|\n|  482 | postgres        | pg_catalog     | pg_statio_all_tables | relid           | oid         |\n|  483 | postgres        | pg_catalog     | pg_statio_all_tables | heap_blks_read  | bigint      |\n|  484 | postgres        | pg_catalog     | pg_statio_all_tables | heap_blks_hit   | bigint      |\n|  485 | postgres        | pg_catalog     | pg_statio_all_tables | idx_blks_read   | bigint      |\n|  486 | postgres        | pg_catalog     | pg_statio_all_tables | idx_blks_hit    | bigint      |\n|  487 | postgres        | pg_catalog     | pg_statio_all_tables | toast_blks_read | bigint      |\n|  488 | postgres        | pg_catalog     | pg_statio_all_tables | toast_blks_hit  | bigint      |\n|  489 | postgres        | pg_catalog     | pg_statio_all_tables | tidx_blks_read  | bigint      |\n|  490 | postgres        | pg_catalog     | pg_statio_all_tables | tidx_blks_hit   | bigint      |\n| 1784 | postgres        | pg_catalog     | pg_statio_all_tables | schemaname      | name        |\n| 1785 | postgres        | pg_catalog     | pg_statio_all_tables | relname         | name        |\n\nThe following columns are in the pg_aggregate table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name   | column_name      | data_type   |\n|-----:|:----------------|:---------------|:-------------|:-----------------|:------------|\n|   57 | postgres        | pg_catalog     | pg_aggregate | aggfnoid         | regproc     |\n|   58 | postgres        | pg_catalog     | pg_aggregate | aggkind          | "char"      |\n|   59 | postgres        | pg_catalog     | pg_aggregate | aggnumdirectargs | smallint    |\n|   60 | postgres        | pg_catalog     | pg_aggregate | aggtransfn       | regproc     |\n|   61 | postgres        | pg_catalog     | pg_aggregate | aggfinalfn       | regproc     |\n|   62 | postgres        | pg_catalog     | pg_aggregate | aggcombinefn     | regproc     |\n|   63 | postgres        | pg_catalog     | pg_aggregate | aggserialfn      | regproc     |\n|   64 | postgres        | pg_catalog     | pg_aggregate | aggdeserialfn    | regproc     |\n|   65 | postgres        | pg_catalog     | pg_aggregate | aggmtransfn      | regproc     |\n|   66 | postgres        | pg_catalog     | pg_aggregate | aggminvtransfn   | regproc     |\n|   67 | postgres        | pg_catalog     | pg_aggregate | aggmfinalfn      | regproc     |\n|   68 | postgres        | pg_catalog     | pg_aggregate | aggfinalextra    | boolean     |\n|   69 | postgres        | pg_catalog     | pg_aggregate | aggmfinalextra   | boolean     |\n|   70 | postgres        | pg_catalog     | pg_aggregate | aggfinalmodify   | "char"      |\n|   71 | postgres        | pg_catalog     | pg_aggregate | aggmfinalmodify  | "char"      |\n|   72 | postgres        | pg_catalog     | pg_aggregate | aggsortop        | oid         |\n|   73 | postgres        | pg_catalog     | pg_aggregate | aggtranstype     | oid         |\n|   74 | postgres        | pg_catalog     | pg_aggregate | aggtransspace    | integer     |\n|   75 | postgres        | pg_catalog     | pg_aggregate | aggmtranstype    | oid         |\n|   76 | postgres        | pg_catalog     | pg_aggregate | aggmtransspace   | integer     |\n| 1263 | postgres        | pg_catalog     | pg_aggregate | agginitval       | text        |\n| 1264 | postgres        | pg_catalog     | pg_aggregate | aggminitval      | text        |\n\nThe following columns are in the collations table in the postgres database:\n\n|      | table_catalog   | table_schema       | table_name   | column_name       | data_type         |\n|-----:|:----------------|:-------------------|:-------------|:------------------|:------------------|\n| 1506 | postgres        | information_schema | collations   | collation_catalog | name              |\n| 1507 | postgres        | information_schema | collations   | collation_schema  | name              |\n| 1508 | postgres        | information_schema | collations   | collation_name    | name              |\n| 1509 | postgres        | information_schema | collations   | pad_attribute     | character varying |\n\nThe following columns are in the tables table in the postgres database:\n\n|      | table_catalog   | table_schema       | table_name   | column_name                  | data_type         |\n|-----:|:----------------|:-------------------|:-------------|:-----------------------------|:------------------|\n| 1242 | postgres        | information_schema | tables       | table_catalog                | name              |\n| 1243 | postgres        | information_schema | tables       | table_schema                 | name              |\n| 1244 | postgres        | information_schema | tables       | table_name                   | name              |\n| 1245 | postgres        | information_schema | tables       | table_type                   | character varying |\n| 1247 | postgres        | information_schema | tables       | self_referencing_column_name | name              |\n| 1248 | postgres        | information_schema | tables       | reference_generation         | character varying |\n| 1249 | postgres        | information_schema | tables       | user_defined_type_catalog    | name              |\n| 1250 | postgres        | information_schema | tables       | user_defined_type_schema     | name              |\n| 1251 | postgres        | information_schema | tables       | user_defined_type_name       | name              |\n| 1252 | postgres        | information_schema | tables       | is_insertable_into           | character varying |\n| 1253 | postgres        | information_schema | tables       | is_typed                     | character varying |\n| 1256 | postgres        | information_schema | tables       | commit_action                | character varying |\n\nThe following columns are in the pg_cast table in the postgres database:\n\n|     | table_catalog   | table_schema   | table_name   | column_name   | data_type   |\n|----:|:----------------|:---------------|:-------------|:--------------|:------------|\n| 111 | postgres        | pg_catalog     | pg_cast      | oid           | oid         |\n| 112 | postgres        | pg_catalog     | pg_cast      | castsource    | oid         |\n| 113 | postgres        | pg_catalog     | pg_cast      | casttarget    | oid         |\n| 114 | postgres        | pg_catalog     | pg_cast      | castfunc      | oid         |\n| 115 | postgres        | pg_catalog     | pg_cast      | castcontext   | "char"      |\n| 116 | postgres        | pg_catalog     | pg_cast      | castmethod    | "char"      |\n\nThe following columns are in the information_schema_catalog_name table in the postgres database:\n\n|      | table_catalog   | table_schema       | table_name                      | column_name   | data_type   |\n|-----:|:----------------|:-------------------|:--------------------------------|:--------------|:------------|\n| 1437 | postgres        | information_schema | information_schema_catalog_name | catalog_name  | name        |\n\nThe following columns are in the pg_timezone_names table in the postgres database:\n\n|      | table_catalog   | table_schema   | table_name        | column_name   | data_type   |\n|-----:|:----------------|:---------------|:------------------|:--------------|:------------|\n|  378 | postgres        | pg_catalog     | pg_timezone_names | utc_offset    | interval    |\n|  379 | postgres        | pg_catalog     | pg_timezone_names | is_dst        | boolean     |\n| 1054 | postgres        | pg_catalog     | pg_timezone_names | name          | text        |\n| 1055 | postgres        | pg_catalog     | pg_timezone_names | abbrev        | text        |\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n'}, {'role': 'user', 'content': "Which electoral_area has the highest closest_library_dist_km_median in table 'distances'?"}]
Info: Ollama parameters:
model=sqlcoder:latest,
options={},
keep_alive=None
Info: Prompt Content:

In [32]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
[]
None